<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reply to a comment</title>
</head>
<body>
    <div>
        <p>
            Reply 1 by author 1
        </p>
        <p>
            Reply 2 by author 2
        </p>
        <p>
            Reply 3 by author 3
        </p>
        <p>
            Reply 4 by author 4
        </p>
    </div>

    <div>
        <h2>Leave a Reply..</h2>
    
        <form action="#" method="POST">
            <input type="text" name="name" placeholder="Name"> <br><br>
            <textarea name="message" id="" cols="30" rows="10">Reply to author x's comment ...</textarea> <br><br>
    
            <button type="submit" style="width:100px; background-color:blue; color: white; border-radius: 4px">Comment</button>
        </form>
    </div>
</body>
</html>