<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reply</title>
</head>
<body>
    <div>
        Reply to comment by {{.Commentor}}
    </div>
    <div>
        <h2>Replies ....</h2>
        {{range .Replies}}
        <p>
            {{.Reply}} by {{.Replier}}
        </p>
        {{end}}
    </div>

    <div>
        <h2>Leave a Reply..</h2>
    
        <form action="{{.Path}}" method="POST">
            <input type="text" name="name" placeholder="Name"> <br><br>
            <textarea name="message" id="" cols="30" rows="10">Reply to author x's comment ...</textarea> <br><br>
    
            <input type="submit" value="Comment" style="width:100px; background-color:blue; color: white; border-radius: 4px">
        </form>
    </div>
</body>
</html>