<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image names</title>
</head>
<body>
    <div>
         Your Images:
        {{if .}}
            {{range .}}                                  
        <img src="uploads/{{.}}" alt="" style="width: 50%; height: 50%">
        {{end}}
        {{end}}
    </div>

    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="img"><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>